# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Artifacts and outputs
artifacts/
data/raw/

# Logs
*.log

# IDE / Editor files
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
